.bg-std{
    background-color: #F0F0F0;
}
.contenedor{
    max-width: 850px;
    margin: 15px auto;
    display: block;
    font-weight: 400;
    font-family:SantanderTextW05-Regular;
    color: #444;
}
.header-cam{
    min-height: 300px;
    background: url(../img/bg-seguros.jpg);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}
.header-cam > h1{
    font-family: SantanderHeadlineW05-Bold;
    font-size: 32px;
    color: #FFF;
    line-height: 40px;
    font-weight: bold;
    display: inline-block;
    margin: 30px 0 0 40px;
}
.header-cam > h1 > span{
    font-family: SantanderHeadlineW05-Regular;
    font-weight: 400;
}
.header-cam > p{
    font-size: 14px;
    line-height: 20px;
    font-family:SantanderTextW05-Regular;
    color: #FFF;
    font-weight: 400;
    max-width: 280px;
    margin: 10px 0 0 40px;
}
.header-cam > .btn-std{
    margin-left: 15px;
}
.select-tarjeta{
    max-width: 834px;
    margin-top: -45px;
}
.title-box-tarjeta{
    font-family:SantanderTextW05-Bold;
    font-weight: bold;
    font-size: 20px;
    line-height: 28px;
    padding: 15px;
    border-bottom: 1px solid #DDD;
}
.desc-box-tarj{
    font-size: 14px;
    font-weight: 400;
    font-family:SantanderTextW05-Regular;
    line-height: 20px;
    padding: 15px;
}
.cont-tarj{
    padding: 0px 15px 15px 15px;
}
h3.tit-tarjeta{
    font-size: 14px;
    font-family:SantanderTextW05-Bold;
    font-weight: bold;
    line-height: 20px;
    padding: 20px 0;
}
.info-tarjeta{
    list-style: none;
}
.info-tarjeta > li{
    display: inline-block;
    vertical-align: top;
    width: 33%;
    margin-bottom: 15px;
}
.info-tarjeta > li > span{
    display: block;   
}
.info-tarjeta > li > span:first-child{
    font-family:SantanderMicroTextW01-Bold;
    font-size: 12px;
    line-height: 20px;
}
.info-tarjeta > li > span:last-child{
    font-size: 14px;
    font-weight: 400;
    font-family:SantanderTextW05-Regular;
    line-height: 20px;
}
.ingresa-datos, .condiciones-gen{
    max-width: 834px;
}
.ingresa-datos > p.title-datos{
    font-family: SantanderTextW05-Bold;
    font-weight: bold;
    font-size: 20px;
    line-height: 28px;
    padding: 15px;
    border-bottom: 1px solid #DDD;
}
.input-datos{
    padding: 20px 15px;
}
.input-datos .input-cont{
    width: 49.7%;
    display: inline-block;
    vertical-align: top;
}
.input-datos .input-cont:nth-child(2n+1){
    padding-right: 15px;
}
.confirmacion-check{
    padding: 20px 15px 0 15px;
    border-top: 1px solid #DDD;
}
.cont-boton{
    text-align: center;
    padding: 15px 10px;
}
.despliegue-tarjeta{
    display: none;
}
.error-check-cam{
    display: none;
    color: #EC0000;
    font-size: 12px;
    padding-left: 35px;
    padding-top: 10px;
    font-family: SantanderTextW05-Regular;
}

/*comprobante.html*/
.cont-comprobante{
    max-width: 690px;
    margin: 20px auto;
}
.cont-comprobante > .box{
    text-align: center;
}
.header-comprobante{
    display: inline-block;
    padding: 8px;
    position: relative;
    box-sizing: border-box;
    border-radius: 4px;
    margin: 0px;
    text-align: center;
}
.header-comprobante > .ico-header-com{
    position: absolute;
    top: 50%;
    left: 15px;
    margin-top: -14px;
}
.ico-header-com > .cont-ico{
    background-size: 15% auto;
    text-indent: inherit;
    font-size: 28px;
    padding: 0px;
    width: 32px;
    height: 32px;
    display: block;
    margin: 0 auto;
    text-align: center;
    border-radius: 24px;
    color: #fff;
    line-height: 22px;
    overflow: hidden;
}
.cont-ico > span{
    color: #63BA68;
    font-size: 32px;
}
.header-comprobante > .contenido-comprobante{
    vertical-align: middle;
    display: table-cell;
    text-align: left;
    padding: 0px 0px 0px 25px;
}
.contenido-comprobante > .texto-comprobante{
    display: block;
    color: #444;
    font-size: 20px;
    line-height: 28px;
    margin: 8px auto;
    padding: 0 20px 0 25px;
    font-family: SantanderHeadlineW05-Bold;
}
.desc-comprobante{
    padding: 20px;
    text-align: left;
    font-size: 16px;
    font-weight: 400;
    line-height: 23px;
    font-family: SantanderTextW05-Regular;
}

.separador{
    height: 1px !important;
    background-color: #DDD;
    margin: 0;
    padding: 0;
}
/*responsive*/
@media (max-width:720px){
    .info-tarjeta > li{
        width: 100%;
        margin-bottom: 25px;
    }
    .input-datos .input-cont{
        width: 100%;
    }
    .input-datos .input-cont:nth-child(2n+1){
        padding-right: 0px;
    }
    .contenedor, .cont-comprobante{
        padding: 0 10px;
    }
    .select-tarjeta{
        margin-top: 20px;
    }
}